name: Frontend CI/CD Pipeline

on: 
  workflow_dispatch:
  push:
    branches:
      - main
      - staging
  pull_request:
    branches:
      - main
      - staging
      - dev

jobs:
  # ------------------------
  # 1. BUILD JOB
  # ------------------------
  build:
    name: Build Frontend 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10 

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install Dependencies 
        run: pnpm install

      - name: Lint with Prettier
        run: pnpm run check-format

      - name: Lint with EsLint
        run: pnpm run lint -- --max-warnings=0

      - name: Create .env file for staging
        if: github.ref == 'refs/heads/staging' || (github.event_name == 'pull_request' && github.base_ref == 'staging')
        run: |
          cat <<EOF > .env
          VITE_API_BASE_URL="${{ secrets.VITE_API_BASE_URL_STAGING }}"
          EOF
          echo ".env file created for staging"

      - name: Create .env file for production
        if: github.ref == 'refs/heads/main' || (github.event_name == 'pull_request' && github.base_ref == 'main')
        run: |
          cat <<EOF > .env
          VITE_API_BASE_URL="${{ secrets.VITE_API_BASE_URL_PRODUCTION }}"
          EOF
          echo ".env file created for production"

      - name: Build Application
        run: pnpm run build 

      - name: Archive Build Artifacts
        run: |
          if [ -f .env ]; then
            tar -czf build.tar.gz dist .env
            echo "Archived dist and .env files"
          else
            tar -czf build.tar.gz dist
            echo "Archived dist files only (as .env does not exist for dev branch)"
          fi

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: build.tar.gz